@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_SignLayout.cshtml";
}

<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>Reset Your Password</h2>
            <p>Enter and confirm your new password</p>
        </div>

        <form class="login-form" id="loginForm" asp-action="ResetPassword" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Email" hidden />
            <input asp-for="Token" hidden />
            <div class="mb-3">
                <label asp-for="Password" class="form-label fw-bold d-flex align-items-center">
                    <i class="bi bi-key-fill mx-1"></i>
                    Password
                </label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-end-0">
                        <i class="bi bi-pencil-square text-muted"></i>
                    </span>
                    <input type="password" asp-for="Password" class="form-control border-start-0 ps-2" placeholder="Enter your password" />
                </div>
                <span asp-validation-for="Password" class="text-danger small mt-1 d-block"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label fw-bold d-flex align-items-center">
                    <i class="bi bi-key-fill mx-1"></i>
                    Confirm Password
                </label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-end-0">
                        <i class="bi bi-pencil-square text-muted"></i>
                    </span>
                    <input type="password" asp-for="ConfirmPassword" class="form-control border-start-0 ps-2" placeholder="Enter your password" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger small mt-1 d-block"></span>
            </div>

            <div class="form-group mt-3 mb-1 w-100">
                <input type="submit" value="Reset Password" class="btn btn-primary w-100" />
            </div>
        </form>

        <div class="signup-link text-center " style="font-size:14px">
            <p><a asp-action="Login" asp-controller="Account" class="text-decoration-none">Back to Login ?</a></p>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

