
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Products";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="mb-4">Products</h1>
    <a class="btn btn-success text-decoration-none" asp-action="Create" asp-controller="Product">
        New
        Product
    </a>
</div>